<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="GitgameshTest">
	<test name="GitgameshTest" enabled="true" preserve-order="true">
		<groups>
			<run>
			<!-- <include name="" /> -->
			</run>
		</groups>
		<classes>
			<!-- <class name="" /> -->
		</classes>
	</test>
</suite>