// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin applicationTheme {	
  @include valo;
	/* Insert your own theme rules here */
	.v-window-modalitycurtain {
		@include animation(valo-animate-in-fade 400ms 100ms backwards);
	}
	
	.v-window-closebox {
		background-color: #ECECEC;
	}
	
	.v-window-header {
		background-color: #ECECEC;
	}
	
	.v-button.iconbutton-size-small .v-icon {
		height: 18px;
		width: 18px;
		opacity: 0.8;
	}
	
	img.v-image.v-widget {
		opacity: 0.8;
	}
	
	/* horizontal groups */
	.v-horizontal-button-group {
		border: 1px solid #c5c5c5;
		border-top-color: #c5c5c5;
		border-bottom-color: #bcbcbc;
		background-color: #fafafa;
		background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
		background-image: linear-gradient(to bottom,#fafafa 2%, #efefef 98%);
		-webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e7e7e7, 0 2px 3px rgba(0, 0, 0, 0.05);
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
	}
	
	.v-horizontal-button-group .v-button-in-menu.v-button-v-button-in-menu.v-button:before {
		display: inline;
	}
	
	.v-horizontal-button-group .v-button-in-menu.v-button-v-button-in-menu.v-button{
		padding: 3px 6px !important;
		border-radius: 0px;
	}
  
  	.v-horizontal-button-group .v-button-in-menu.v-button-v-button-in-menu .v-button-caption {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
  
	.v-horizontal-button-group .v-button-in-menu.v-button-v-button-in-menu .v-icon {
		margin-left: auto;
		margin-right: auto;
		height: 35px;
		width: 35px;
		display: block;
		opacity: 0.8;
	}
	
	/* Application specific font-size top*/
	 .upper-menu.v-customcomponent-upper-menu.v-horizontal-button-group .v-button-in-menu.v-button-v-button-in-menu.v-button {
		padding: 3px 6px !important;
		border-radius: 0px;
		font-size: 14px;
		word-break: break-word;
		white-space: normal !important;
		line-height: 17px;
	}
	.v-button.v-widget.iconbutton-size-small.v-button-iconbutton-size-small.v-popover-upper-submenu.v-button-v-popover-upper-submenu {
		padding: 3px 6px !important;
		border-radius: 0px;
		font-size: 14px;
		word-break: break-word;
		white-space: normal !important;
		line-height: 17px;
	}
	
	/* Patient table */
	.v-table-cell-content-v-appointment-passed .v-table-cell-wrapper {
	  	opacity: 0.5;
	}
	
	/* Tables */
	.v-table-caption-container{
		font-size: 16px;
		font-weight: 600;
	}
	
	/* Form Runner */
	/*.v-form-runner span {
		width: 300px;
		display: inline-block;
		height: auto;
		word-wrap: break-word;
		white-space: normal;
	}*/
	
	.v-form-runner-group {
		-webkit-box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
		box-shadow: 0 0 0 2px rgba(45, 135, 226, 0.5);
	}
	
	.v-content-layout-application.v-verticallayout.v-layout.v-vertical.v-widget.v-has-width.v-has-height {
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	/* Iframe */
	.iFrameContent .v-content-layour-application{
		overflow-y: hidden;
	}
	
	.v-csslayout.v-layout.v-widget.v-menu-separator.v-csslayout-v-menu-separator {
		@include linear-gradient(to right, #B3B3B3 0%, #C7C7C7 62%, #E0E0E0 100%);
	}
	
	.v-csslayout.vFormRunnerElement.v-csslayout-vFormRunnerElement {
		display: table-caption;
	}
	
	/* Icons for tabs */
	.v-tabsheet-tabitemcell img.v-icon {
		width: 20px;
		height: 20px;
	}
	
	/* Change in the humanized notification */
	.v-Notification.humanized.v-Notification-humanized {
		background: #B4D37D;
	}
	
	.v-Notification.humanized h1 {
  		color: white;
  		font-weight: 500;
	}

	.v-window-outerheader {
		min-height: 36px;
		background-color: #ECECEC;
	}
	
	.v-anamnese-pdf-window .v-browserframe{
		border: 1px solid #c5c5c5;
		border-top-color: #c5c5c5;
		border-bottom-color: #bcbcbc;
		background-color: #fafafa;
	}
	
	//Scroll panel for new task window.
	.v-widget.activiti-task-layout.v-has-width.v-has-height {
		overflow-y: auto;
	}
}
