// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin gitgameshTheme {
  	@include valo;
  	
  	.v-button.v-widget.iconbutton-size-small.v-button-iconbutton-size-small .v-icon {
	    width: 16px;
	    height: 16px;
	}
  	
  	.v-label.v-widget.page-title.v-label-page-title.v-has-width {
	    font-size: 60px;
	    padding-left: 40px;
	    padding-top: 10px;
	}
	
	.v-label.v-widget.page-description.v-label-page-description.v-has-width {
	    font-size: 20px;
	    text-align: justify;
	    padding-left: 40px;
	    padding-right: 40px;
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
  
	 .inserted-gallery.v-customcomponent-inserted-gallery {
	    padding-left: 40px;
	    padding-right: 40px;
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	
	input.v-textfield.v-widget.gallery-filter-name-field.v-textfield-gallery-filter-name-field.v-has-width.v-textfield-prompt {
	    height: 40px;
	    font-size: 20px;
	    border-width: 2px;
	}
	
	// filter text button
	.v-button.v-widget.gallery-cancel-name-filter.v-button-gallery-cancel-name-filter {
	    width: 28px;
	    height: 27px;
	    padding-left: 3px;
	    padding-top: 0px;
	    top: 6px;
	    right: 7px;
	    position: absolute;
	    z-index: 3;
	}
	.v-button.v-widget.gallery-cancel-name-filter.v-button-gallery-cancel-name-filter img {
	    width: 13px;
	    height: 13px;
	    padding-left: 4px;
	    padding-top: 0px;
	}
	
	.v-csslayout.v-layout.v-widget.gallery-filter-layout.v-csslayout-gallery-filter-layout.v-has-width {
	    display: inline-block;
	    box-sizing: border-box;
	    position: relative;
	    padding-bottom: 40px;
	}
  
	.gallery-element.v-customcomponent-gallery-element {
		background: #fff;
		cursor: pointer;
		width: 32.19%;
		max-height: 181px;
		font-size: 12px;
		border: 1px solid #eee;
		margin-right: 1.7%;
		margin-bottom: 1%;
		position: relative;
		overflow: hidden;
		-webkit-transition: all 100ms;
		-moz-transition: all 100ms;
		transition: all 100ms;
	}
  
  	.v-label-gallery-element-title.v-has-width {
  		font-size: 14px;
	    font-weight: 600;
	    padding: 5px 10px;
	    background-color: lightsteelblue;
	}
	
	.gallery-element:hover .gallery-element-update.v-label-gallery-element-update {
	    opacity: 1;
	}
	
	.gallery-element-update.v-label-gallery-element-update {
		bottom: 0;
		padding: 3px 10px;
		width: 100%;
		background: #f3f3f3;
		opacity: 0;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: opacity 300ms;
		-moz-transition: opacity 300ms;
		transition: opacity 300ms;
	}
	
	.gallery-element-left-content img {
	    background-color: cornflowerblue;
	    margin: 10px 10px;
	}
	
	.gallery-element-left-content.v-csslayout-gallery-element-left-content {
	    float: left;
	}
	
	.v-widget.gallery-element-right-content.v-csslayout-gallery-element-right-content {
	    float: left;
	}
	
	.gallery-element-content.v-csslayout-gallery-element-content {
	    display: inline-flex;
	    max-height: 115px;
	}
	
	.v-label.v-widget.gallery-element-author.v-label-gallery-element-author.v-has-width {
	    padding-top: 8px;
	    padding-bottom: 5px;
	}
	
	.gallery-element-description.v-label-gallery-element-description {
	    text-align: justify;
	    padding-right: 30px;
	    max-height: 90px;
	    min-height: 90px;
	    overflow: hidden;
	}
	
	.gallery-element.v-customcomponent-gallery-element:hover {
	    -moz-box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.4);
	    -webkit-box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.4);
	    box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.4);
	    -moz-transform: translateY(-3px);
	    -webkit-transform: translateY(-3px);
	    transform: translateY(-3px);
	}
	
	.v-widget.order-layout.v-csslayout-order-layout {
	    padding-bottom: 15px;
	    display: inline-block;
	}
	
	.grouped-controls.v-csslayout-grouped-controls {
	    float: left;
	}
	
	.v-csslayout-order-layout .v-label.v-widget {
	    float: right;
	    padding-right: 10px;
	    padding-top: 10px;
	}
	
	.grouped-controls.v-csslayout-grouped-controls .v-button.v-widget.selected-button.v-button-selected-button {
	    font-weight: 900;
	    color: #000000;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    background-image: none;
	    background-image: none;
	    -webkit-box-shadow: none;
	    text-shadow: none;
	}
	
	.grouped-controls.v-csslayout-grouped-controls .v-button.v-widget {
	    border-radius: 0px;
	    color: #8A8A8A;
	}
	
	.v-button:focus:after {
	    border-color: #c5c5c5;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	
	.galleryLayout[width-range~="761px-900px"] .gallery-element.v-customcomponent-gallery-element.v-has-width {
	    width: 49.15% !important;
	}
	
	.galleryLayout[width-range~="761px-900px"] .gallery-element:nth-child(2n) {
	    margin-right: 0px;
	}
	
	.galleryLayout[width-range~="901px-"] .gallery-element.v-customcomponent-gallery-element.v-has-width {
	    width: 32.19% !important;
	}
	
	.galleryLayout[width-range~="901px-"] .gallery-element:nth-child(3n) {
	    margin-right: 0px;
	}
	
/*	.root-layout-gitgamesh[width-range~="901px-"] .v-widget.menu-fixed-left.v-csslayout-menu-fixed-left {
		-webkit-animation: valo-animate-in-slide-right 700ms 700ms backwards;
	    -moz-animation: valo-animate-in-slide-right 700ms 700ms backwards;
	    animation: valo-animate-in-slide-right 700ms 700ms backwards;
	}*/
	
	.v-widget.menu-fixed-left.v-csslayout-menu-fixed-left {
	    width: 150px;
	    position: absolute;
	    background-color: #414B56;
	    background-image: -webkit-linear-gradient(right, #38414a 0%, #414B56 9px);
	    background-image: linear-gradient(to left,#38414a 0%, #414B56 9px);
	    color: #9ca5af;
	    font-size: 14px;
	    line-height: 30px;
	    border-right: 1px solid #333b43;
	    white-space: nowrap;
	    display: table;
	}

	.v-widget.gitgamesh-button-layout.v-csslayout-gitgamesh-button-layout {
	    display: table-cell;
	    vertical-align: middle;
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button.v-widget {
	    width: 100%;
	    height: 80px;
	    border-radius: 0px;
	    border-width: 0px;
	    color: #B5BCC3;
	    background-image: -webkit-linear-gradient(top, #56616D 2%, #3C4956 98%);
	    background-image: linear-gradient(to bottom,#56616D 2%, #3C4956 98%);
	    -webkit-box-shadow: inset 0 1px 0 #5E6873, inset 0 -1px 0 #333B43, 0 2px 3px rgba(0, 0, 0, 0.05);
	    box-shadow: inset 0 1px 0 #5E6873, inset 0 -1px 0 #333B43, 0 2px 3px rgba(0, 0, 0, 0.05);
	    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button.v-widget.menu-button-selected.v-button-menu-button-selected {
	    color: white !important;
	    background-image: linear-gradient(to bottom,rgba(86, 97, 109, 0.75) 2%, rgba(60, 73, 86, 0.75) 98%);
	    background-image: -webkit-linear-gradient(top, rgba(86, 97, 109, 0.75) 2%, rgba(60, 73, 86, 0.75) 98%);
	}
	
	.v-layout.v-widget.content-area.v-csslayout-content-area {
	    padding-left: 150px;
	    background-color: beige;
	    
	    min-height:100%;
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button:before {
	    vertical-align: top;
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button.v-widget span.v-button-wrap {
	    display: inline-block;
	    padding-top: 13px;
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button.v-widget img.v-icon {
	    width: 100%;
	    height: 32px;
	    vertical-align: middle;
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button.v-widget span.v-button-caption {
	    float: left;
	    margin: auto;
	    width: 100%;
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button.v-widget:hover {
	    color: #E7EBEF;
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button:hover img.v-icon {
    	opacity: 0.8;
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button img.v-icon {
	    -webkit-filter: invert(1.0);
	    opacity: 0.7;
	}
	
	.root-layout-gitgamesh .gitgamesh-button-layout .v-button.v-widget.menu-button-selected.v-button-menu-button-selected img.v-icon {
	    opacity: 0.9 !important;
	}
	
	.gallery-content-area {
		overflow-y: auto;
	}
}
