<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="GitgameshTest">
	<test name="GitgameshTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="jgitTest" /> 
			</run>
		</groups>
		<classes>
				<class name="com.biit.gitgamesh.core.git.GitUserTasksTest" /> 
		</classes>
	</test>
</suite>